body{
	background: #333;
}

.label{
	font-size:9pt;
	font-weight: bold;
	text-align:center;
	padding:2px;
	color:white;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 4px;
}

#legend{
	width: 100%;
}

#legend .legendLabel{
	color: white;
}